:root {
    --gray-color:#8d8d8d;
    --bg-gray-color:#eeeeee
}


#scroll-section-1 {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50vh;
}

#scroll-section-1 h1 {
    position: relative;
    top: -10vh;
    text-align: center;
    font-size: 4rem;
    transition: all;
    transition-duration: 0.5s;
}

#scroll-section-1 .main-message {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45vh;
    height: 3em;
    font-size: 2rem;
    z-index:100;
    /* transition: all;
    transition-duration: 0.5s; */
}

.main-message p {
    line-height: 1.4;
    font-weight: bold;
    text-align: center;
}

.sticky-elem {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-blend-canvas.sticky {
    position:fixed;
    margin-top:0;
    top:0;
}

#scroll-section-2 {
    padding-top:20vh;
    background:var(--bg-gray-color);
}

#scroll-section-2 > .tile-container {
    margin:0 auto;
    width:100%;
    max-width:1000px;
    position:relative;
    background:white;
    border-radius: 20px;
}

.large-tile-title > h1 {
    font-size:2rem;
}
.large-tile-content > p {
    font-size:1.5rem;
}

.large-tile-container {
    display:flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:70vh;
}

.large-tile-content {
    position: absolute;
    text-align: center;
}




@media (min-width:1024px) {
    #scroll-section-1 h1 {
        font-size:7rem;
        top:-13vh;
    }
    #scroll-section-1 .main-message {
        font-size:2.8rem;
    }
    .large-tile-title > h1 {
        font-size:4rem;
    }
    
}