.scroll-section {
    padding-top: 50vh;
    width:100%;
}

#scroll-section-1 h1 {
    position: relative;
    top: -10vh;
    text-align: center;
    font-size: 5rem;
}

#scroll-section-1 .main-message {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45vh;
    height: 3em;
    font-size: 2.2rem;
}

.main-message p {
    line-height: 1.4;
    font-weight: bold;
    text-align: center;
}

.sticky-elem {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}